<div class="container">
  <div class="search">
    <mat-form-field>
      <input type="date" matInput placeholder="Du" [(ngModel)]="from" />
    </mat-form-field>

    <mat-form-field>
      <input type="date" matInput placeholder="Au" [(ngModel)]="to" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="search()">
      Rechercher
    </button>
  </div>

  <mat-divider></mat-divider>

  <div class="meals">
    <div class="meal" *ngFor="let meal of (meals$ | async)">
      <mat-card>
        <mat-card-content>
          <div class="mat-h2">
            {{ meal.date.seconds * 1000 | date: 'longDate' }}
          </div>
          <div>Petit-déjeuner: {{ meal.breakfast }}</div>
          <div>Déjeuner: {{ meal.lunch }}</div>
          <div>Dîner: {{ meal.dinner }}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
