.container {
  padding: 20px;
}

.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}

mat-form-field {
  margin-right: 10px;
}

.meal {
  margin-top: 20px;
}

.lunch {
  margin-bottom: 15px;
}
