<h1 mat-dialog-title>Ajouter Menu</h1>

<div mat-dialog-content>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Matin" [(ngModel)]="meals.breakfast"></textarea>
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Midi" [(ngModel)]="meals.lunch"></textarea>
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Soir" [(ngModel)]="meals.dinner"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Annuler</button>
  <button mat-raised-button color="primary" (click)="save()">Enregistrer</button>
</div>
