<h1 mat-dialog-title>Ajouter Menu</h1>

<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Matin</mat-label>
    <textarea
      matInput
      [(ngModel)]="meals.breakfast"
    ></textarea>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Midi</mat-label>

    <textarea matInput placeholder="Midi" [(ngModel)]="meals.lunch"></textarea>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Soir</mat-label>

    <textarea matInput placeholder="Soir" [(ngModel)]="meals.dinner"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Annuler</button>
  <button
    mat-raised-button
    color="primary"
    (click)="save()"
    [disabled]="state === 'loading'"
  >
    Enregistrer
  </button>
  <mat-spinner
    *ngIf="state === 'loading'"
    [diameter]="40"
    color="accent"
  ></mat-spinner>
</div>
