<mat-toolbar color="primary"> <span>Food Scheduler</span> </mat-toolbar>

<nav mat-tab-nav-bar mat-stretch-tabs [backgroundColor]="'primary'" [tabPanel]="tabPanel">
  <a
    mat-tab-link
    routerLink="home"
    routerLinkActive
    #rlhome="routerLinkActive"
    [active]="rlhome.isActive"
  >
    Calendrier
  </a>
  <a
    mat-tab-link
    routerLink="summary"
    routerLinkActive
    #rllist="routerLinkActive"
    [active]="rllist.isActive"
  >
    Liste
  </a>
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>

</mat-tab-nav-panel>


